<section class="budget-items-section">
  <div class="budget-items-container">

    <div class="income-column">
      <h1>Income</h1>

      <div class="budget-items">
        <div *ngFor="let item of budgetItems">
          <app-item-card
            (cardClick)="onCardClick(item)"
            (deleteAction)="deleteItem(item)"
            *ngIf="item.amount !== null && item.amount >= 0"
            style="display:block; margin-bottom: 20px"
            [item]="item">
          </app-item-card>

        </div>
      </div>
    </div>


    <div class="expenses-column">
      <h1>Expenses</h1>
      <div class="budget-items">
        <div *ngFor="let item of budgetItems">
          <app-item-card
            (cardClick)="onCardClick(item)"
            (deleteAction)="deleteItem(item)"
            *ngIf="item.amount !== null && item.amount < 0"
            style="display:block; margin-bottom: 20px"
            [item]="item">
          </app-item-card>

        </div>
      </div>
    </div>

  </div>
</section>
