<div class="root">
  <div class="budget-item" (click)="onCardClick()" [ngClass]="{ 'income': item.amount !== null && item.amount >= 0, 'expense': item.amount !== null && item.amount < 0 }">
    <div class="description">
      <p> {{ item.desc }} </p>
    </div>
    <div class="amount">
      <p> {{ item.amount }} </p>
    </div>
  </div>
  <div class="x-icon-button" (click)="onDeleteClick()"></div>
</div>
