<div class="top-bar">
  <h1>Budget Calculator @yemrekeskin</h1>
</div>

<section class="total-budget-section">
  <h2 [ngClass]="{ 'red': totalBudget < 0, 'green': totalBudget > 0 }">{{ totalBudget }}</h2>
</section>

<section class="add-item-section">
  <div class="add-item-container">
    <app-add-item style="padding: 20px;" (submitted)="addItem($event)"> </app-add-item>
  </div>
</section>

<hr style="margin-top: 0">

<app-item-list [budgetItems]="items" (delete)="deleteItem($event)" (update)="updateItem($event)"></app-item-list>
